



body {
	background-color: white;
	font-family: 'Lato', sans-serif;
  background-color: #4ABDAC;
}


.wv {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  margin-top:10%;
  background-color: #4ABDAC;
}


#title {
font-size: 3rem;
margin: auto;
color: black;

}

span{
	background: white;
  padding-right: 10px;
  padding-left: 10px;
}


.subcontainer{
  width:100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25%;
}

.subcontainer input#search{
  width: 100%;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.subcontainer .icon {
 position: absolute;
  margin-left: 2%;
  margin-top: -10px;
  z-index: 1;
  color: black;
}



p {
	font-size: 1rem;
	;
}



#results{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4ABDAC;
  margin-bottom: 1%;
  height: 100%;
}

a {
  width: 70%;
  margin-top: 1%;
  background-color: white;
  padding: 1% 1% 1% 1%;
  text-decoration: none;
  color: black;
}

a:hover {
  border-left: 3px solid black;
}

#lucky{
  width: 15%;
  height: 5%;
  margin-top: 1%;
  background-color: white;
  padding: 1% 1% 1% 1%;
  text-decoration: none;
  color: black;
}

header {
  font-weight: bold;
  ;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in{
    animation: fadeIn .75s forwards;
}

img {
  height: 2%
  width: 2%;
}


